# Project exclude paths
/.gradle/
/msa-common/build/
/msa-common/build/classes/java/main/
/msa-dashboard/build/
/msa-dashboard/build/classes/java/main/
/msa-ladder/build/
/msa-ladder/build/classes/java/main/
/msa-member/build/
/msa-member/build/classes/java/main/

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/